<%- include('partials/header'); %>
  <%- include('partials/components/container-start'); %>
    <%- include('partials/components/section-start'); %>
      <table cellspacing="0" style="width: 100%;">
        <tr>
          <td>
            <%- include('partials/components/h1-start'); %>
              Hello <%= locals.name %>,
            <%- include('partials/components/h1-end'); %>
            <%- include('partials/components/p-start'); %>
              Proceed with resetting your password by <a href="<%= locals.url %>" target="_blank">clicking here</a>.
            <%- include('partials/components/p-end'); %>
            <%- include('partials/components/p-start'); %>
              For your security, this password reset link is valid for 1 hour.
            <%- include('partials/components/p-end'); %>
            <%- include('partials/components/p-start'); %>
              Yours sincerely,<br>
              Boilerplate.
            <%- include('partials/components/p-end'); %>
          </td>
        </tr>
      </table>
    <%- include('partials/components/section-end'); %>
  <%- include('partials/components/container-end'); %>
<%- include('partials/footer'); %>
